Client/Connected Services/ServiceReference1/Microsoft.ServiceModel.Samples.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://Microsoft.ServiceModel.Samples" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://Microsoft.ServiceModel.Samples" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://Microsoft.ServiceModel.Samples/Imports">
      <xsd:import namespace="http://Microsoft.ServiceModel.Samples" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Airport" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAirport_GetConnection_InputMessage">
    <wsdl:part name="parameters" element="tns:GetConnection" />
  </wsdl:message>
  <wsdl:message name="IAirport_GetConnection_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="IAirport_GetAllConnections_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllConnections" />
  </wsdl:message>
  <wsdl:message name="IAirport_GetAllConnections_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllConnectionsResponse" />
  </wsdl:message>
  <wsdl:message name="IAirport_GetConnections_InputMessage">
    <wsdl:part name="parameters" element="tns:GetConnections" />
  </wsdl:message>
  <wsdl:message name="IAirport_GetConnections_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetConnectionsResponse" />
  </wsdl:message>
  <wsdl:message name="IAirport_GetConnections_ConnectionNotFoundFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Airport" name="detail" element="q1:ConnectionNotFoundFault" />
  </wsdl:message>
  <wsdl:portType name="IAirport">
    <wsdl:operation name="GetConnection">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/IAirport/GetConnection" message="tns:IAirport_GetConnection_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/IAirport/GetConnectionResponse" message="tns:IAirport_GetConnection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllConnections">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/IAirport/GetAllConnections" message="tns:IAirport_GetAllConnections_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/IAirport/GetAllConnectionsResponse" message="tns:IAirport_GetAllConnections_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetConnections">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/IAirport/GetConnections" message="tns:IAirport_GetConnections_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/IAirport/GetConnectionsResponse" message="tns:IAirport_GetConnections_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Microsoft.ServiceModel.Samples/IAirport/GetConnectionsConnectionNotFoundFaultFault" name="ConnectionNotFoundFaultFault" message="tns:IAirport_GetConnections_ConnectionNotFoundFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>